.top {
  text-align: center;
  border: 1px solid black;
}

.editor {
  background-color: black;
  color: white;
  width: 500px;
  height: 250px;
}

.preview {
  background-color: silver;
  width: 500px;
}

.col-md-7 {
  border: 1px solid black;
}

.body {
  display: flex;
  justify-content: space-evenly;
}